<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./master.css">
  </head>
  <body>
    <div id="root">
      <div class="container">
        <h1>To Do List</h1>
        <ul>
          <li v-for="task in tasksRearanged">
            <span class="task"
            :class="(task.status == 'done' ? 'crossed' : '')"
            v-if="task.edit == 'false'">
            {{task.text}}</span>

            <input v-model="changedText"
            v-if="task.edit == 'true'"
            v-on:keyup.enter="switchText(task)"
            type="text" name="edit">

            <span v-if="task.status == 'todo'"
            @click="changeStatus(task)"
            class="controls done"><i class="far fa-check-circle"></i></span>

            <span v-if="task.status == 'todo'"
            @click="modifyTask(task)"
            class="controls edit"><i class="far fa-edit"></i></span>

            <span v-if="task.status == 'done'"
            @click="removeTask(task)"
            class="controls delete"><i class="far fa-trash-alt"></i></span>
          </li>
        </ul>

        <input type="text" placeholder="New Task"
        v-model="inputText"
        v-on:keyup.enter="add">
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js" charset="utf-8"></script>
  </body>
</html>
